:root {
  --negro: #54595f;
  --amarillo: #fee440;
  --rojo: #ba324f;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Jura", sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 100px;
}

nav li {
  margin: 10px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: var(--negro);
  font-size: 15px;
  font-weight: 400;
}

.destacado {
  font-size: 18px;
  color: var(--amarillo);
  font-weight: 700;
}

.destacado:hover {
  color: white;
}

.logo img {
  width: 120px;
}

.header-simps {
  width: 100vw;
  overflow: hidden;
  height: 30vh;
  background-image: url("/img/simpsons-header.jpg");
  background-position: center;
  background-size: cover;
}
