:root {
  --negro: #54595f;
  --amarillo: #fee440;
  --rojo: #ba324f;
}

a:hover {
  color: var(--rojo);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Jura", sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 100px;
}

nav li {
  margin: 10px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: var(--negro);
  font-size: 15px;
  font-weight: 400;
}

.ham {
  display: none;
}

header a {
  text-decoration: none;
  color: var(--negro);
}

.destacado {
  font-size: 18px;
  color: var(--amarillo);
  font-weight: 700;
}

.destacado:hover {
  color: white;
}

.logo img {
  width: 120px;
}

header {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-image: url("/img/banner.jpg");
  background-position: center;
  background-size: cover;
}

.text-header {
  right: 50px;
  bottom: 50px;
}

.text-header h2 {
  line-height: 80px;
  font-size: 94px;
  font-weight: 900;
  color: white;
}

.text-header span {
  font-size: 115px;
  color: var(--amarillo);
}

.text-header button {
  margin-right: 10px;
}

.image-escape-room {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.escape-room h1 {
  font-weight: 900;
  color: var(--negro);
}

.info {
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
}

.item-aventura {
  height: 200px !important;
}

.item-aventura h2 {
  font-weight: 800;
  color: var(--negro);
}

.item-aventura p {
  font-size: 20px;
  font-weight: 100;
}

.escape-room p {
  font-size: 20px;
  font-weight: 200;
}

.enlaces-responsive {
  display: none;
}

.enlaces-responsive li {
  cursor: pointer;
  z-index: 999;
}

#close {
  cursor: pointer;
}

.enlaces-responsive.active {
  position: absolute;
  width: 100%;
  height: 50vh;
  display: flex;
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  transition: all 1s ease-in-out;
}

.enlaces-responsive svg {
  position: absolute;
  bottom: -230px;
  z-index: 999;
}

.enlaces-responsive i {
  position: absolute;
  top: 24px;
  right: 34px;
  color: var(--negro);
  font-size: 30px;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links a {
  font-size: 23px;
  color: var(--negro) !important;
  text-decoration: none;
  cursor: pointer;
}

.links li {
  list-style: none;
}

.text-info h2 {
  font-weight: 900;
  color: var(--negro);
  font-size: 30px;
}

.text-info p {
  color: var(--negro);
  font-weight: 200;
  font-size: 18px;
  color: var(--negro);
}

.image1 {
  margin: 100px;
}

.image2 {
  width: 80px;
  margin: 50px;
}

.image3 {
  width: 95px;
  margin: 100px;
}

@media (max-width: 800px) {
  .item-aventura {
    height: 300px !important;
  }

  .image1 {
    margin: 20px;
  }

  .image2 {
    margin: 20px;
  }

  .image3 {
    margin: 20px;
  }
}

.reserva {
  height: 100%;
  padding-bottom: 50px;
}

.reserva h2 {
  font-weight: 800;
  color: var(--negro);
}

.image-card {
  max-height: 150px;
  overflow: hidden;
}

.card .btn {
  border-radius: 0px 0px 5px 5px !important;
}

.card {
  padding: 0 !important;
  border-radius: 10px !important;
}

.card .image-card img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.btn-destacado {
  background: var(--amarillo) !important;
}

.card button {
  font-size: 12px;
  padding: 10px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.percentage {
  width: 10%;
  font-size: 14px;
}

.card a {
  text-decoration: none;
  color: var(--negro);
}

.card:hover {
  transform: scale(1.03);
}

.progress-bar-custom {
  width: 100%;
  margin-top: -10px;
  height: 15px;
}

.color-bar1 {
  width: 90%;
  height: 100%;
  border: 1px solid #e2dcde;
  border-radius: 5px;
  overflow: hidden;
}

.colored-bar1 {
  height: 100%;
  background: var(--rojo);
  opacity: 0.7;
  animation: progress 2s linear 1 forwards;
}

.texto-body-card {
  font-size: 14px;
}

.players {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  color: var(--negro);
}

.players i {
  margin: 4px;
  font-size: 23px;
  opacity: 0.9;
}

.duracion {
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.duracion span {
  color: var(--negro);
}

.duracion i {
  font-size: 30px;
  margin: 5px;
  color: var(--negro);
  opacity: 0.9;
}

.gift {
  height: 60vh;
}

.gift-image {
  display: flex;
  justify-content: center;
}

.gift-image img {
  width: 150px;
  margin: 5px;
}

.gift h2 {
  font-weight: 900;
  color: var(--negro);
}

.faq h2 {
  font-weight: 900;
  color: var(--negro);
}

#accordion button {
  font-size: 20px;
  text-decoration: none;
  color: var(--negro);
}

#accordion button:focus {
  outline: none;
}

#accordion .card {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px !important;
}

.btn-check:focus + .btn,
.btn:focus {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.card-header {
  border-bottom: none !important;
}

.dark {
  background: var(--negro);
}

footer a {
  text-decoration: none;
}

footer li {
  list-style: none;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-size: 50px;
  color: var(--rojo);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .columna {
    display: flex;
    flex-direction: column !important;
  }

  .columna2 {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .escape-room {
    padding: 0 !important;
  }

  .escape-room span {
    font-size: 10px !important;
  }

  .escape-room h1 {
    font-size: 30px;
  }

  .escape-room p {
    font-size: 15px;
  }

  .image-escape-room {
    bottom: 0;
  }

  .image-escape-room img {
    width: 50px !important;
  }

  .item-aventura h2 {
    font-size: 20px;
  }

  .item-aventura p {
    font-size: 15px;
  }

  .info {
    padding-bottom: 0px;
  }

  .reserva {
    padding-bottom: 150px;
  }

  .gift h2 {
    text-align: center;
  }

  .faq h2 {
    text-align: center !important;
  }

  .card-body {
    font-size: 13px !important;
  }
}

@media (max-width: 650px) {
  .text-header {
    min-width: 100vw;
    align-items: flex-end;
    right: 0;
    bottom: 130px;
    margin: 10px;
  }

  .text-header h2 {
    font-size: 45px;
    text-align: right !important;
    line-height: 45px;
  }

  .text-header span {
    font-size: 60px;
  }

  .text-header button {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #enlaces {
    display: none !important;
  }

  #social {
    display: none !important;
  }

  .ham {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
  }

  .linea1,
  .linea2 {
    margin: 3px;
    width: 30px;
    height: 3px;
    background: white;
  }

  .linea1 {
    width: 35px;
  }
}
